@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/static/Figtree-ExtraBold.ttf") format("ttf"),
    url("assets/fonts/static/Figtree-SemiBold.ttf") format("ttf"),
    url("assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("ttf"),
    url("assets/fonts/Figtree-VariableFont_wght.ttf") format("ttf");
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Fitgree", sans-serif;
  background-color: var(--yellow);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

main {
  width: 400px;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1.25rem;
  border: 1px solid black;
  box-shadow: 5px 5px #000;
}

main > img {
  width: 100%;
  border-radius: 1rem;
}

.tag {
  padding: 0.5rem 1rem;
  background-color: var(--yellow);
  color: var(--gray-950);
  width: fit-content;
  border-radius: 0.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
  font-weight: 600;
}

p {
  margin: 0.5rem 0;
  font-weight: 500;
}

.date {
  color: var(--gray-950);
  margin-top: 20px;
  margin-bottom: 0;
}

.profile {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}

.profile p {
  font-weight: 800;
  font-size: 0.825rem;
}

.profile img {
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
}

h3 {
  font-weight: 800;
  margin: 1rem 0;
  color: var(--gray-950);
}

h3:hover {
  color: var(--yellow);
  cursor: pointer;
}

.description {
  font-weight: 500;
  line-height: 1.3;
  color: var(--gray-500);
}
